USE [master]
GO
/****** Object:  Database [swp391_laptop]    Script Date: 12/4/2025 4:14:34 PM ******/
CREATE DATABASE [swp391_laptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'swp391_laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\swp391_laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'swp391_laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\swp391_laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [swp391_laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [swp391_laptop]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LAPTOP_ID] [bigint] NOT NULL,
	[TOTAL_TIME] [int] NOT NULL,
	[CREATED_BY] [bigint] NOT NULL,
	[APPROVED_BY] [bigint] NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING_TECHNICAL_TICKET]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_TECHNICAL_TICKET](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [bigint] NOT NULL,
	[CREATED_BY] [bigint] NOT NULL,
	[APPROVED_BY] [bigint] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[RESPONSE] [nvarchar](255) NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAPTOP]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAPTOP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OWNER_ID] [bigint] NOT NULL,
	[LAPTOP_NAME] [nvarchar](255) NOT NULL,
	[LAPTOP_BRAND] [bigint] NOT NULL,
	[PRICE_PER_HOUR] [decimal](18, 2) NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[IMG_URL] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[APPROVED_BY] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAPTOP_APPROVAL]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAPTOP_APPROVAL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OWNER_ID] [bigint] NOT NULL,
	[LAPTOP_NAME] [nvarchar](255) NOT NULL,
	[LAPTOP_BRAND] [bigint] NOT NULL,
	[IMG_URL] [nvarchar](500) NULL,
	[STATUS_ID] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STATUS_NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[STATUS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](255) NOT NULL,
	[LAST_NAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[STATUS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 12/4/2025 4:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[USER_ID] [bigint] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[BOOKING_TECHNICAL_TICKET] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[LAPTOP] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[LAPTOP_APPROVAL] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([LAPTOP_ID])
REFERENCES [dbo].[LAPTOP] ([ID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_TECHNICAL_TICKET]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_TECHNICAL_TICKET]  WITH CHECK ADD FOREIGN KEY([BOOKING_ID])
REFERENCES [dbo].[BOOKING] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_TECHNICAL_TICKET]  WITH CHECK ADD FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[BOOKING_TECHNICAL_TICKET]  WITH CHECK ADD FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD FOREIGN KEY([APPROVED_BY])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD FOREIGN KEY([LAPTOP_BRAND])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP_APPROVAL]  WITH CHECK ADD FOREIGN KEY([LAPTOP_BRAND])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP_APPROVAL]  WITH CHECK ADD FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[LAPTOP_APPROVAL]  WITH CHECK ADD FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS] ([ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_USER_ROLE_ROLE]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_USER_ROLE_USER]
GO
USE [master]
GO
